<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image" href="/public/images/ghostfashion-logo.png" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/home.css" />
    <title>Ghost Fashion - India</title>
  </head>
  <body>
    <nav>
      <div class="top-nav">
        <div id="logo" class="logo">
          <a title="Home" class="logo-click" href="#">
            <div class="go-home">
              <div class="logo-img-div">
                <img
                  class="logo-img"
                  src="/public/images/ghostfashion-logo.png"
                  alt=""
                />
              </div>
              <div class="ghost">
                <h1 class="ghost-heading">Ghost Fashion</h1>
              </div>
            </div>
          </a>
        </div>
        <div class="pages">
          <div class="search">
            <a title="Search" href="#">
              <img
                class="pages-img"
                src="/public/images/icons/search.png"
                alt="login-here"
              />
            </a>
          </div>
          <div class="login">
            <a title="Login" href="#">
              <img
                class="pages-img"
                src="/public/images/icons/user.png"
                alt="login-here"
              />
            </a>
          </div>
          <div class="whishlist">
            <a title="Wishlist" href="#">
              <img
                class="pages-img"
                src="/public/images/icons/heart.png"
                alt="login-here"
              />
            </a>
          </div>
          <div class="cart">
            <a title="Your Cart" href="#">
              <img
                class="pages-img"
                src="/public/images/icons/cart.png"
                alt="login-here"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="bottom-nav">
        <a class="category" href="#">home</a>
        <a class="category" href="#">ghostees</a>
        <a class="category" href="#">ghost hoodies</a>
        <a class="category" href="#">ghosty pants</a>
        <a class="category" href="#">about us</a>
        <a class="category" href="#">curtomer support</a>
        <a class="category" href="#">track order</a>
      </div>
    </nav>

    <!-- empty gap box -->
    <div class="gap-box"></div>

    <!-- hero section container  -->
    <div class="container">
      <h1 class="hero-slogan">reveal the ghost inside you</h1>
    </div>

    <!-- empty gap box -->
    <div class="gap-box-two"></div>

    <main>
      <div class="products-display">
        <div class="product-category">
          <h1 class="category-title">oversized ghost hoodies</h1>
          <div class="all-products">
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F77%2F46%2F7746921f6b3af28793d9f47f65e6872ca7c9422c.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="https://static.zara.net/photos///2023/I/0/2/p/8281/404/800/2/w/850/8281404800_2_1_1.jpg?ts=1695027409697"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="https://c4.wallpaperflare.com/wallpaper/397/255/736/the-witcher-3-wild-hunt-the-witcher-2-assassins-of-kings-the-witcher-minimalism-wallpaper-preview.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="https://c4.wallpaperflare.com/wallpaper/266/85/309/venom-wallpaper-preview.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-category">
          <h1 class="category-title">oversized ghostees</h1>
          <div class="all-products">
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-category">
          <h1 class="category-title">ghosty pants</h1>
          <div class="all-products">
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="/public/images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="/public/images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="newsletter-box">
        <h2 class="newsletter-heading">for newsletter and promo codes:</h2>
        <div class="newsletter-form">
          <form action="">
            <input
              type="text"
              name="email-newsletter"
              id="newsletter-inp"
              placeholder="Your email address"
            />
            <button class="newsletter-btn" type="submit">
              Subscribe
              <img
                class="right-arrow"
                src="/public/images/icons/right-arrow.png"
                alt=""
              />
            </button>
          </form>
        </div>
      </div>
    </main>

    <!-- temporary code  -->
    <p class="hi f1">font - apercu-bold</p>
    <p class="hi f2">font - apercu-light</p>
    <p class="hi f3">font - apercu-medium</p>
    <p class="hi f4">font - apercu-regular</p>
    <p class="hi f5">font - BatGhost Promo codes</p>
    <p class="hi f6">font - Ghastly</p>

    <!-- fixed button div for positioning  -->
    <div class="fix-it">
      <!-- go to top button  -->
      <div class="go-to-top">
        <a href="#logo">
          <img
            class="arrow-up-img"
            src="/public/images/icons/up-arrow.png"
            alt=""
          />
        </a>
      </div>
      <!-- contact whatsapp fixed button  -->
      <div class="whatsapp-contact">
        <a href="#">
          <img
            class="whatsapp-img"
            src="/public/images/icons/whatsapp.png"
            alt="whatsapp"
          />
        </a>
      </div>
    </div>

    <script src="/public/js/script.js"></script>
  </body>
</html>
